<section>
    <div class="container">
        <div class="opcreate px-4">
        
        </div>
        <form class="">
            <div class="col-md-6 py-2 d-flex align-content-center">
                <div class="pImg">
                    <span>Profile Image</span>
                </div>
                <div class="row">
                    <div class="col-md-4 delete">
                        <img class="w-75" [src]="defaultImage">
                    </div>

                    <div class="col-md-4 bg-danger">
                        <input  type="file" name="file-input" id="file-input" class="file-input__input" name="photo"
                            (change)='selectFile($event)' />
                        <label class="file-input__label" for="file-input">

                            <span>Upload</span></label>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-2 px-5">
                    <div class="form-group">
                        <label>Name*<span>:</span></label>
                        <input name="name" type="text" placeholder="Name" class="form-control">
                        <!-- <div *ngIf="name.touched && name.invalid " class="a">
                      <span> Name is required</span>
                   </div> -->

                    </div>
                    <div class="form-group">
                        <label>UserName*<span>:</span></label>
                        <input name="userName" type="text" placeholder="UserName" class="form-control">
                        <!-- <div *ngIf="userName.touched && userName.invalid " class="a">
                      <span> UserName is required</span>
                   </div> -->

                    </div>

                    <div class="form-group">
                        <label>Email*<span>:</span></label>
                        <input name="email" required type="email" placeholder="Email" class="form-control">
                        <!-- <div *ngIf="email?.touched && email?.invalid" class="a">
                            <span>Email is required</span>
                        </div> -->

                        <!-- <div *ngIf="email.errors?.pattern" class="a">
                            <span *ngIf="email.errors?.pattern">This is not a valid Email </span>
                        </div> -->
                    </div>

                    <div class="form-group">
                        <label>Password*<span>:</span></label>
                        <input type="password" name="password" minlength="6" placeholder="Password"
                            class="form-control">
                        <!-- <div *ngIf="password?.touched && password?.invalid " class="a">
                            <span>Password is required</span>

                        </div> -->

                        <!-- <div *ngIf="password.errors?.minlength" class="a">
                            <span> minlength 6</span>
                        </div> -->
                    </div>



                    <div class="form-group">
                        <label>Password Confirmation*<span>:</span></label>
                        <input type="password" required name="password_confirmation" placeholder="Password Confirmation"
                            class="form-control">
                        <!-- <div *ngIf="password_confirmation.touched && password_confirmation.invalid " class="a">
                            <span> Password Confirmation is required </span>

                        </div> -->
                        <!-- <div *ngIf="password_confirmation.touched" class="a">
                            <span *ngIf="password_confirmation.value != password.value "> Password Not Match</span>

                        </div> -->
                    </div>

                    <div class="form-group">
                        <label>Gender*<span>:</span></label>
                        <input name="gender" type="radio" value="male" [attr.checked]="true">
                        Male
                        <input name="gender" type="radio" value="female"> female
                    </div>

                </div>




            </div>

            <div class="row">
                <div class="btnCreate">
                    <button type="submit">Submit</button>
                </div>
            </div>

        </form>

    </div>
</section>