
$color: black;
$bgColor:white;
// $bgColor: #101820ff;

* {
    box-sizing: border-box;
}

mat-toolbar {
    background-color:#fe9d2b;
    color: $color;
    width: 100%;
    height: 90px;
}
mat-toolbar i {
    margin-right: 25px;
    cursor: pointer;
}
mat-icon {
    color: #abaaa9;
}
.home a 
{
    color:white;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}
.psearch {
    width: auto;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
}
input { 
    padding: 5px 5px;
    background-color: white;
    color: black;
    border-top:0px transparent ;
    position: relative;
}
input:focus {
    outline: none;
}
.icon {
    background-color: transparent;
    color: black;
    position: absolute;
    right: 2%;
}
.icon i {
    margin:5px 5px;
    cursor:auto ;
 
}
.u-img {
    padding: 20px;
}
img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user {
    padding: 0px 10px 0px 0px;
    margin: 0px 2px;
    display: flex;
    color: $color;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.user mat-icon {
    cursor: pointer;
    color: $color;
}
.u-img {
    background-size: cover;
    border-radius: 50%;
}
.expanded {
    background-color: #101820ff;
    width: 215px;
    color: white;
    position: absolute;
    top: 66px;
    left: 3px;
    z-index: 5;
}
.expanded .expanded-info {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.expanded .expanded-info i {
    padding: 20px;
}

.userImage .uImage
{
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 5px; 

}
// .not-icon {
//     position: relative;
//     cursor: pointer;
//     margin-left: 30px;
// }

// .notification {
   
//     height: 250px;
//     width: 350px;
//     background-color:#101820ff;
//     color: white;
//     overflow-y: scroll;
//     position: absolute;
//     top: 45px;
//     right: -70px;
//     border: 5px solid #101820ff;
//     font-size: 14px;
//     padding: 15px;
//     z-index: 5;
// }

// .notification-info {
//     background-color:$bgColor;
//     width: 150;
//     margin: 10px 0;
//     border-radius: 6px;
//     position: relative;
// }
// .notification-info h5 {
//     font-size: 14px;
//     margin-left: 10px;
//     margin-top: 10px;
//     line-height: 20px;
//     padding-top: 5px;
// }
// .notification-info .time {
//     color: $color;

//     position: absolute;
//     right: 15px;
//     font-size: 10px;
// }
// .notification-info span {
//     color: #36798a;
//     margin-left: 15px;
//     font-size: 14px;
// }
::-webkit-scrollbar {
    width: 4px;
    background-color: black;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
.notification-info:hover {
    background-color: $color;
    color: $bgColor;
}
.online {
    background-color: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 45px;
}
.logo {
    width: 100px;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
}

.logoClosed {
    width: 80px;
    height: auto;

    padding-bottom: 50px;
}
.noti-fic {
    position: relative;
}

.notifaction-no {
    background-color:white;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 10px;
    height: 10px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.home a
{
    color: black;
}

/*Side Nav*/
// .example-container {
//     width: 500px;
//     height: 300px;
//     border: 1px solid rgba(0, 0, 0, 0.5);
// }

// .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
// }

// .example-sidenav {
//     padding: 20px;
// }

// .main-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background-color: #eeeeee;
// }
// .menu-close {
//     width: 100px;
// }

// .menu-open {
//     width: 315px;
// }

// .dashContainer {
//     width: 100%;
// }

// .dashContent {
//     padding: 10px;
//     cursor: pointer;
// }
// .dashContent i {
//     margin: 0 10px;
// }
// .mainContainer {
//     overflow-x: hidden;
//     color: #cbcbcb;
//     font-size: 14px;

//     margin-left: 15px;
// }

// .userImageCLosed {
//     height: 50px !important;
//     width: 50px !important;
// }
// .user-dashboradClosed {
//     margin-top: 15px;
// }
// .mainContainer img {
//     border: 5px solid #f2f0f0;
//     width: 100%;
//     height: auto;
//     display: block;
// }
// .dashContent {
//     font-size: 14px;
//     font-family: "tahoma";
//     padding: 0;
//     margin-top: 15px;
// }
// .dashContent:hover {
//     color: #fe9d2b;
//     border-right: 3.5px solid #fe9d2b;
// }
// .dashContetn p {
//     margin-left: 11px;
// }
// .tCenter {
//     text-align: center;
// }
// .dBlock {
//     display: block;
//     margin-top: 15px;
//     margin-right: 0 !important;
// }
// .user-dashborad {
//     overflow: auto;
// }
// .user-dashborad p {
//     margin-top: 12px;
//     font-size: 18px;
//     font-weight: bold;
//     color: #707070;
//     margin-bottom: 5px;
// }
// .user-dashborad i {
//     margin-right: 15px;
//     cursor: pointer;
//     font-size: 18px;
// }
// .user-dashborad .logout {
//     color: #fe9d2b;
// }
// .user-closed {
//     height: 50px;
//     width: 50px;
// }

.trans
{
    background-color: rgba(60,60,60,0.8) !important;
    position: fixed;
    top: 0;
    filter: blur(0.5px);
    background-attachment: fixed;
    z-index: 999999;

    .comp
    {
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        color:#fa8a0a ;
        
    }
    a
    {
        color:#fa8a0a ;
        
    }
}