<mat-toolbar *ngIf="tokenService.isAuthenticated() == true">



    <!-- *ngIf="tokenService.isAuthenticated() == true" -->
    <i (click)="onToolbarMenuToggle()" class="fas fa-bars"></i>
    <span class="comp">Learing Gate</span>
    <span class="example-spacer"></span>
        <div class="home">
            <a  [routerLink]="['/courses/home']" >Home</a>
        </div>

    <div class="psearch ">
        <div class="icon">
            <i class="fas fa-search "></i>
        </div>
        <input class="search input-field" placeholder="Search">

    </div>
    <div class="not-icon">
        <div class="noti-fic">
            <i (click)="notiExpanded()" class="far fa-bell "></i>
            <span (click)="notiExpanded()" class="notifaction-no">1</span>
        </div>
        <div *ngIf="flagNotiction" class="notification">
            <p>Notication</p>
            <div class="notification-info">
                <h5>Restaurant Reservations <span class="time">1 min Ago</span></h5>
                <span>Room ID 213</span>
            </div>
            <div class="notification-info">
                <h5>Check In Request <span class="time">1 Hour Ago</span></h5>
                <span>Alina</span>
            </div>
            <div class="notification-info">
                <h5>Check In Request <span class="time">1 Hour Ago</span>
                </h5>
                <span>Alina</span>
            </div>

        </div>

    </div>
    <div class="user">
        <h6 (click)="expaded()">{{userName}}</h6>
        <mat-icon (click)="expaded()">expand_more</mat-icon>
        <div *ngIf="flagExpanded" class="expanded">
            <div class="expanded-info">
                <i [routerLink]="['/adminAdmin/adminProfile']" class="fas fa-user"></i>
                <span [routerLink]="['/adminAdmin/adminProfile']" (click)='veiwOnly()'>My Profile</span>
                <span>
                    <div class="online">

                    </div>
                </span>
            </div>
            <!-- <div class="expanded-info">
                <i class="far fa-edit"></i>
                <span [routerLink]="" (click)='veiwEdit()'>Edit Profile</span>
            </div> -->

            <div *ngIf="role=='admin'" [routerLink]="['/adminAdmin/addAdmin']" class="expanded-info">
                <i class="fas fa-plus"></i>
                <span >Add Admin</span>
            </div>
            <div class="expanded-info">
                <i style="color: #38B9DD;" class="fas fa-sign-out-alt"></i>
                <span (click)="logout()">Logout</span>
            </div>
        </div>
    </div>



    <div class="u-img " style="background-image: url(../../assets/photo.jpeg);">
        <!--<img [src]="[imgSrc]" alt="ss">-->
    </div>
    <div>
        <i style="margin-left: 15px;" class="fas fa-cog"></i>
    </div>
</mat-toolbar>