$bodyBackGround:transparent;
$FormBackGround:#fff;
$borderColor:#1111;
$textColor:#111;
.operators
{
    background-color: $bodyBackGround;
    
}
.container
{
    background-color: $FormBackGround;
    // border-radius: 15px;
    // margin-top: 100px;
    // padding-bottom: 50px;
}
.opcreate
{
    color: $textColor;
    padding-top: 40px;
    font-size: 18px;
}
.fa-user:before {
  
    margin-right: 16px;
}
.opcreate p span
{
    margin-right: 10px;
}
.form-group
{
    color: $textColor;
    margin:10px 0px ;

}
input ,textarea
{
    background-color: $FormBackGround;
    border: 2px solid $borderColor;
    padding: 12px;
    border-radius: 10px;
    color: #111;
}
select
{
    background-color: $FormBackGround;
    border: 2px solid $borderColor;
}
.form-group span
{
    margin-left: 10px;
    font-size: 14px;
}
.pImg
{
  color: #fff;
  
  padding: 5px;
}
.delete
{
    position: relative;
}
.delete .fa-trash-alt
{
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    color: #3F3D3C;
}
.delete .fa-trash-alt:hover
{
    color: orangered;
}
.delete img
{
   border-radius: 15px;
}
.upBtn
{
    border: none;
    padding: 8px 35px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

span
{
    color: #fff;
}
.authoirty span  
{
   padding: 10px;
   color: #A5A4A3;
   font-size:14px;
}
.btnCreate
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    cursor: pointer;
   
}
.btnCreate button
{
    padding: 10px 50px;
    border: none;
    background-color: #38B9DD;
    color: $textColor;
    border-radius: 15px;
} 
.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px;
    background-color:#393939;
   cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  }
  .form-control:disabled
{
    background-color: $FormBackGround;
    color: $textColor;
}
i{
    margin-right: 20px;
    cursor: pointer;
}
h6
{
    color: #111;
    font-size:25px;
}
.opa
{
    opacity: 0.4;
}

.a span
{
     color: red;
}

@media (min-width: 1700px){
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1550px;
}
}
.form{
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 15px;

}
.kbyr{
    border-radius: 30px;
    
    background-color: rgba(180, 180, 180, 0.6);
    filter: blur(0.4px);
}
.form-group button
{
  
  background-color: #fcaf17;
  
  padding: 10px;
  border-radius: 25px;
  border: none;
}
.success{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.imageDes{
   text-align: center;
}
.imageDes h4{
    font-size: 25px;
    font-weight: 700;
}
.photoCard{
    background-color: #A5A4A3;
    border-radius: 15px;
}
.photoCard img{
    border-radius: 7px;
}