<div class="mainContainer ">
    <div class="py-5 text-center">
        <div [class.logoClosed]='!menuStatus' class="logo">
            <img [src]="Logo" alt="">
        </div>
        <div [class.userImageCLosed]='!menuStatus' class="userImage">
        </div>
        <div [class.user-dashboradClosed]='!menuStatus' class="user-dashborad text-center">
            <p *ngIf="menuStatus">Hassan El-Sobky</p>

            <i [class.dBlock]='!menuStatus' class="fas fa-cog"></i>
            <i [class.dBlock]='!menuStatus' class="fas fa-sign-out-alt logout"></i>

        </div>
    </div>
    <div class="dashContainer">
        <div class="dashContetn">
            <p *ngIf="menuStatus">Dashborad</p>
        </div>

        <div [class.tCenter]="!menuStatus" class="dashContent">
            <i class="fas fa-tachometer-alt"></i>
            <span class="dashTitle"   [routerLink]="'/adminAnaylsis/dashboard'"   *ngIf="menuStatus">Dashborad</span>
        </div>

        <a [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminIn/instructors'" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span class="dashTitle" *ngIf="menuStatus">Instructors</span>
        </a>
        <a [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminSt/students'" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span class="dashTitle" *ngIf="menuStatus">Students</span>
        </a>
        <a [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/admin/courses'" routerLinkActive="active">
            <i class="fas fa-book"></i>
            <span class="dashTitle" *ngIf="menuStatus">Courses</span>
        </a>
      
    </div>
</div>
