<div class="mainContainer ">
  
    <div class="py-5 text-center">
        <div [class.logoClosed]='!menuStatus' class="logo">
            <img [src]="logoImage" alt="">
        </div>
        <div [class.userImageCLosed]='!menuStatus' class="userImage">
        </div>
        <div [class.user-dashboradClosed]='!menuStatus' class="user-dashborad text-center">
            <p *ngIf="menuStatus" class="text-capitalize">{{userName}}</p>

            <i [class.dBlock]='!menuStatus' class="fas fa-cog"></i>
            <i [class.dBlock]='!menuStatus' class="fas fa-sign-out-alt logout"></i>

        </div>
    </div>
    <div class="dashContainer">
        <div class="dashContetn">
            <p *ngIf="menuStatus">Dashborad</p>
        </div>
<div *ngIf="role=='admin'">
        <div  [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminAnaylsis/dashboard'"   routerLinkActive="active">
            <i class="fas fa-tachometer-alt"></i>
            <span class="dashTitle" *ngIf="menuStatus">Dashborad</span>
        </div>

<!--  -->
<div [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminIn/instructors'"  routerLinkActive="active">
    <i class="fas fa-users"></i>
    <span class="dashTitle" *ngIf="menuStatus">Instructors</span>
</div>

<div [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminSt/students'"  routerLinkActive="active">
    <i class="fas fa-users"></i>
    <span class="dashTitle" *ngIf="menuStatus">Students</span>
</div>

<div [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/admin/courses'"   routerLinkActive="active">
    <i class="fas fa-book"></i>
    <span class="dashTitle" *ngIf="menuStatus">Courses</span>
</div>

</div>
<div *ngIf="role=='student'">
    <div  [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/student/course'"   routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i>
        <span class="dashTitle" *ngIf="menuStatus">Courses</span>
    </div>

<!--  -->
<div [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="''"  routerLinkActive="active">
<i class="fas fa-users"></i>
<span class="dashTitle" *ngIf="menuStatus">Registered Courses</span>
</div>

<div [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/student/profile'"  routerLinkActive="active">
<i class="fas fa-users"></i>
<span class="dashTitle" *ngIf="menuStatus">Schedule</span>
</div>


</div>



<div *ngIf="role=='instructor'">
    <div  [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/instructor/myCourse'"   routerLinkActive="active">
        <i class="fas fa-book"></i>
        <span class="dashTitle" *ngIf="menuStatus">My Course</span>
    </div>

<!--  -->
<!-- <div  [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="''"   routerLinkActive="active">
    <i class="fas fa-book"></i>
    <span class="dashTitle" *ngIf="menuStatus">...Courses</span>
</div> -->
<div [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/instructor/schedule'"  routerLinkActive="active">
<i class="fas fa-users"></i>
<span class="dashTitle" *ngIf="menuStatus">Schedule</span>
</div>


</div>


<!--  -->
        
<!-- 
        <a [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminIn/instructors'"
            routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span class="dashTitle" *ngIf="menuStatus">Instructors</span>
        </a>
        <a [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/adminSt/students'"
            routerLinkActive="active">
            <i class="fas fa-users"></i>
            <span class="dashTitle" *ngIf="menuStatus">Students</span>
        </a>
        <a [class.tCenter]="!menuStatus" class="dashContent" [routerLink]="'/admin/courses'" routerLinkActive="active">
            <i class="fas fa-book"></i>
            <span class="dashTitle" *ngIf="menuStatus">Courses</span>
        </a> -->

    </div>

</div>