$bodybackGround:transparent;
// $formbackgroud:#2E2C2A;
$formbackgroud:#ffff;
.body
{
    height: 100vh;
    background-color:$bodybackGround;
}
.formContainer
{
    width: 800px;
    height:auto;
    background-color:$formbackgroud;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px 0px;
    border-radius: 15px;
}


.form-group
{
 width: 80%;
}
.form-group label
{
    color: #565654;
    margin: 5px 0px;
    font-weight: bold;
    font-size: 11px;
}
.form-group input
{
    background-color: $formbackgroud;
    padding: 22px;
    font-size: 12px;
    border: 2px solid   #565654;
    height: 20px;
    
}
.form-group input:focus
{
    outline: #2E2C2A;
}
.eyeslash 
{
    position: relative;
}
.form-group i
{
    position: absolute;
    right: 15px;
    top: 25px;
    color: #504E4E;
    cursor: pointer;
    
}
.form-group button
{
  background-color: #FE9D2B;
  margin-top: 20PX;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.form-group p
{
    height: 5px;
}

// .FormLogo 
// {
    
//     margin-top: 30px;
// } 
.logo
{
    width: 120px;
    height: 120px;
}
.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px;
    background-color: #393939;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}