<i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>

<button id="addModal" data-bs-toggle="modal" data-bs-target="#addQuestion"
    class="float-end create_button btn btn-secondary">Add Question</button>
<div class="clr"></div>
<div class="container-fluid">

    <div class="row m-5">

        <div  *ngFor="let q of questions; let i=index" class="offset-1 col-md-10 my-5">
            <div class="card">
                <h4 class="card-header fw-bold">Quistion {{i+1}}</h4>
                <div class="card-body">
                    <h5 class="fs-4">{{q.question}} </h5>
                    <div class="mt-4">
                        <div *ngFor="let a of q.answer" class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="{{a.option}}">
                            <label class="form-check-label" for="inlineRadio1">{{a.option}}</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

     
    </div>
</div>