<i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>

<div class="container-fluid my-4">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3 image">
                <img [src]="courseDeafult" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">CourseInfo</h5>
                    <div class="cardinfo">

                        <p class="card-text"><span>Course Name: </span>{{course.courseName}}</p>
                        <p class="card-text"><span>Course Code: </span>{{course.courseCode}}</p>
                        <p class="card-text"><span>Course Department: </span>{{course.courseDepartment}}</p>
                        <p class="card-text"><span>Course prerequisite: </span>{{course.prerequisite}}</p>
                        <p class="card-text"><span>InstructorName: </span>{{insName}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- src='{{course.imageUrl}}' -->