<section class="operators">
   <div class="container">
      <div class="opcreate px-4">
         <h6 style="margin-bottom: 40px;"><i [routerLink]='["/adminIn","instructors"]'
               class="fas fa-arrow-left "></i>Create Instructor</h6>
      </div>
      <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
         <div class="row">
            <div class="col-md-6 py-2 center px-5">
               <div class="inputbox">

                  <input name="name" required ngModel #name='ngModel' type="text" class="form-control">
                  <label>Name*<span>:</span></label>
                  <div *ngIf="name.touched && name.invalid " class="a p-2">
                     <span> Name is required</span>
                  </div>

               </div>
               <div class="inputbox">

                  <input name="userName" required ngModel #userName='ngModel' type="text" class="form-control">
                  <label>UserName*<span>:</span></label>
                  <div *ngIf="userName.touched && userName.invalid " class="a p-2">
                     <span> UserName is required</span>
                  </div>

               </div>

               <div class="inputbox">

                  <input name="email" required ngModel #email='ngModel' type="email"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control">
                  <label>Email*<span>:</span></label>
                  <div *ngIf="email?.touched && email?.invalid" class="a p-2">
                     <span>Email is required</span>
                  </div>

                  <div *ngIf="email.errors?.pattern" class="a p-2">
                     <span *ngIf="email.errors?.pattern">This is not a valid Email </span>
                  </div>
               </div>

               
               <div class="inputbox">

                  <input name="phone" required ngModel #phone='ngModel' type="number"
                   class="form-control">
                  <label>Phone*<span>:</span></label>
                  <div *ngIf="phone?.touched && phone?.invalid" class="a p-2">
                     <span>phone is required</span>
                  </div>

                  <div *ngIf="email.errors?.pattern" class="a p-2">
                     <span *ngIf="email.errors?.pattern">This is not a valid Email </span>
                  </div>
               </div>
               <div class="inputbox">

                  <input type="password" name="password" required ngModel #password='ngModel' minlength="6"
                     class="form-control">
                  <label>Password*<span>:</span></label>
                  <div *ngIf="password?.touched && password?.invalid " class="a p-2">
                     <span>Password is required</span>

                  </div>
                  <div *ngIf="password.errors?.minlength" class="a p-2">
                     <span> minlength 6</span>
                  </div>
               </div>



               <div class="inputbox">

                  <input type="password" required ngModel #password_confirmation='ngModel' name="password_confirmation"
                     class="form-control">
                  <label>Password Confirmation*<span>:</span></label>
                  <div *ngIf="password_confirmation.touched && password_confirmation.invalid " class="a p-2">
                     <span> Password Confirmation is required </span>

                  </div>
                  <div *ngIf="password_confirmation.touched" class="a p-2">
                     <span *ngIf="password_confirmation.value != password.value "> Password Not Match</span>

                  </div>
               </div>

               <div class="form-group">
                  <label>Gender<span>:</span></label>
                  <input name="gender" ngModel #gender='ngModel' type="radio" value="male" [attr.checked]="true"> Male
                  <input name="gender" ngModel #gender='ngModel' type="radio" value="female"> female
               </div>

            </div>

            <div class="col-md-6 py-2">
               <div class="pImg">
                  <span>Profile Image</span>
               </div>
               <div class="row">
                  <div class="col-md-6 delete">
                     <img class="img-fluid" [src]="defaultImage">
                  </div>

                  <div class="col-md-6">
                     <input type="file" name="file-input" id="file-input" class="file-input__input" name="photo" ngModel
                        #photo='ngModel' (change)='selectFile($event)' />
                     <label class="file-input__label" for="file-input">

                        <span>Upload</span></label>
                  </div>


               </div>
            </div>


         </div>

         <div class="row">
            <div class="btnCreate inputbox ">
               <button [disabled]='!createForm.valid' type="submit">Create</button>
            </div>
         </div>

      </form>

   </div>
</section>