<section id="courses-content">
    <i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div [routerLink]="['/instructor','courseMaterials',id]" class="course-item  p-3 card card text-center">
                    <img src="../../../../../assets/images/books.jpg" class="card-img-top" alt="">
                    <div class="card-body">

                        <h5 class="card-title">Materials</h5>
                    </div>
                    <div class="button_cont" align="center">
                        <a [routerLink]="['/instructor','courseMaterials',id]" class="example_b w-100" >Materials</a>
                    </div>
                    <!-- <a  [routerLink]="['/instructor','courseMaterials',id]" class="btn btn-primary">Materials</a> -->
                </div>
            </div>

            <div class="col-md-3 my-2">
                <div [routerLink]="['/instructor','courseAssignments',id]" class="course-item p-3 card text-center">
                    <img src="../../../../../assets/images/assignment.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title">Assignments</h5>
                        
                    </div>
                    <div class="button_cont" align="center">
                        <a [routerLink]="['/instructor','courseAssignments',id]" class="example_b w-100" >Assignments</a>
                    </div>
                    <!-- <a [routerLink]="['/instructor','courseAssignments',id]" class="btn btn-primary">Assignments</a> -->
                </div>
            </div>

            <div class="col-md-3 my-2">
                <div [routerLink]='["/instructor","courseExams",id]' class="course-item card p-3 text-center">
                    <img src="../../../../../assets/images/exx.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Exams</h5>
                    </div>
                    <div class="button_cont" align="center">
                        <a [routerLink]='["/instructor","courseExams",id]' class="example_b w-100" >Exams</a>
                    </div>
                    <!-- <a [routerLink]='["/instructor","courseExams",id]' class="btn btn-primary">Exams</a> -->
                </div>
            </div>

    

            <div class="col-md-3 my-2">
                <div [routerLink]="['/instructor','courseStudents',id]"  class="course-item card p-3 text-center">
                    <img src="../../../../../assets/images/students.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Students</h5>
                    </div>
                    <div class="button_cont" align="center">
                        <a [routerLink]="['/instructor','courseStudents',id]" class="example_b w-100" >Students</a>
                    </div>
                    <!-- <a [routerLink]="['/instructor','courseStudents',id]" class="btn btn-primary">Students</a> -->
                </div>
            </div>

             
            <div class="col-md-3 my-2">
                <div [routerLink]="['/instructor','studentsgrades',id]"  class="course-item card p-3 text-center">
                    <img src="../../../../../assets/images/grades.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Students Grades</h5>
                    </div>
                    <div class="button_cont" align="center">
                        <a [routerLink]="['/instructor','studentsgrades',id]" class="example_b w-100" >Students Grades</a>
                    </div>
                    <!-- <a [routerLink]="['/instructor','courseStudents',id]" class="btn btn-primary">Students</a> -->
                </div>
            </div>

        </div>
    </div>
</section>





