.createExam{
 
}
.container-fluid
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ques 
{
    background-color: antiquewhite;
    border-radius: 10px;
    border: 1px solid black;
}
.addop
{
    background-color: #E76F51;
}