
<!-- ------------------Courses Analysis Start-------------------------- -->

<section id="All">
    <h3 class="">All</h3>
    <div class="container w-50">

        <p-chart type="pie" [data]="data"></p-chart>

    </div>
</section>
<!-------------------------- Courses Analysis End-------------------------------------- -->

<!-- -----------------------------------Students Analysis Start ---------------------------------------------->

<!-- <section id="students">
    <h3 class="">Students</h3>
    <div class="container w-50">

        <p-chart type="pie" [data]="data"></p-chart>

    </div>
</section> -->
<!-- --------------------------- ----------Students Analysis End-------------------------------------------------------->

<!-- --------------------------------------Instructors Analysis Start--------------------------------------------------->

<!-- <section id="instructors">
    <h3 class="">Instructors</h3>
    <div class="container w-50">

        <p-chart type="pie" [data]="data"></p-chart>

    </div>
</section> -->
<!--------------------------------------- Instructors Analysis End------------------------------------------------------------------ -->