.col-md-4
{
   background-color: orange;
    border: 15px solid #eeeeee;
    border-radius: 25px ;
    height: 150px;
    text-align: center;
    margin: auto;
    display: flex ;
    justify-content: center;
    align-items: center;

}
