<!-- ------------------Courses Analysis Start-------------------------- -->

<section id="All">
    <div class="container">
        <!-- lma el chartain bysht8lo m3a b3d wa7da btl8y el tanya  -->
        <div class="row">
            <!----------------------------------- Courses Analysis Start-------------------------------------- -->

            <div class="col-md-4 courses ">
                <button [routerLink]="'/admin/courses'" class="btn btn-dark">Courses
                    <br><span>Number of Courses :{{numOfCourse}}</span></button>
            </div>
            <!----------------------------------- Courses Analysis End-------------------------------------- -->
            <!-- --------------------------- ----------Students Analysis Start-------------------------------------------------------->
            <div class="col-md-4 student">

                <button [routerLink]="'/adminSt/students'" class="btn btn-dark">Students
                    <br><span>Number of Students :{{numOfSutudents}}</span></button>

            </div>
            <!-- -----------------------------------Students Analysis End  ---------------------------------------------->
            <!-- --------------------------------------Instructors Analysis Start--------------------------------------------------->
            <div class="col-md-4">

                <button [routerLink]="'/adminIn/instructors'" class="btn btn-dark">Instructors
                    <br><span>Number of Instructors :{{numOfInstructors}} </span>
                </button>
            </div>
            <!--------------------------------------- Instructors Analysis End------------------------------------------------------------------ -->
        </div>
    </div>
    <div class="w-50 m-auto">
        <p-chart type="pie" [data]="data"></p-chart>
    </div>

</section>
<section id="All">
    <div class="container">

   
    </div>
    <div class="w-50 m-auto">
        <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
    </div>
    
</section>
