<section class="userList">
    <div class="ss">
      <i class="fas fa-arrow-left back_button m-2 bttn " (click)='backClicked() '></i>
      <div class="tableContainer">
        <div class="mainContainer">
  
          <div class="tableContent">
            <div class="inputTableSearch">
              <h6>Course List</h6>
              <div class="form-group">
                <!-- <input placeholder=" Search..." #searchName (change)=""> -->
                <input placeholder=" Search..." #searchName (keyup)="courseSearch(searchName.value)">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <div class="tables">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" > Coures Name </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.guest.name}} </td> -->
                    <td mat-cell *matCellDef="let element">
                      <!-- <img *ngIf="element.guest?.photo != null" [src]="element.guest?.photo">
                      <img *ngIf="element.guest?.photo == null" [src]="defaultImage"> -->
                      {{element?.courseName}}  
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="cCode">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize"> Course Code</th>
                    <td mat-cell *matCellDef="let element"> {{element?.courseCode}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="prerequisite">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" > Prerequisite </th>
                    <td mat-cell *matCellDef="let element" > {{element?.prerequisite}} </td>
                  </ng-container>


                  <ng-container matColumnDef="courseDepartment">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize"> Department </th>
                    <td mat-cell *matCellDef="let element"> {{element?.courseDepartment}} </td>
                  </ng-container>


                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" > Status </th>
                    <td mat-cell *matCellDef="let element"> {{element?.state}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef >  </th>
                    <td mat-cell  *matCellDef="let element"> <button *ngIf="element?.state=='pending'" (click)="courseAccepted(element._id)" class="btn btn-access" style="background-color: green;">Approved</button> </td>
                  </ng-container>
             

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize"> action </th>
                    <td mat-cell *matCellDef="let element"> <i (click)="openDialog(element._id)" class="fas fa-trash-alt"></i> </td>
                  </ng-container>
  
                  <ng-container matColumnDef="view-detials">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> <button
                        [routerLink]="['/courses','courseProfile',element._id]">View Details</button> </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,15,20]"
                 showFirstLastButtons>
              </mat-paginator>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
  
    </div>
  </section>