<i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>

<button id="addModal" data-bs-toggle="modal" data-bs-target="#addQuestion"
    class="float-end create_button btn btn-secondary">Add Question</button>
<div class="clr"></div>
<div class="container-fluid">

    <div class="row m-5">

        <div class="offset-1 col-md-10">
            <div class="card">
                <h4 class="card-header fw-bold">Quistion 1</h4>
                <div class="card-body">
                    <h5 class="fs-4">what is ay 7aga </h5>
                  <div class="mt-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">hello1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">hello2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">hello3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">hello4</label>
                    </div>

                  </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Quiz</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="m-auto">

                            <form class="clearfix" [formGroup]=''>
                                <div class="form-group">
                                    <label for="">Question</label>
                                    <input placeholder="Exam1" type="text" formControlName="" class="form-control"
                                        name="">
                                    <span *ngIf="" class="py-2 text-danger "></span>

                                </div>

                                <div class="form-group">
                                    <label for="">answer</label>
                                    <input placeholder="ay 7aga" type="text" formControlName="" class="form-control"
                                        name="">
                                    <span *ngIf="" class="py-2 text-danger "></span>

                                </div>
                                <div class="form-group">
                                    <label for="">answer</label>
                                    <input placeholder="ay 7aga" type="text" formControlName="" class="form-control"
                                        name="">
                                    <span *ngIf="" class="py-2 text-danger "></span>

                                </div>
                                <div class="form-group">
                                    <label for="">answer</label>
                                    <input placeholder="ay 7aga" type="text" formControlName="" class="form-control"
                                        name="">
                                    <span *ngIf="" class="py-2 text-danger "></span>

                                </div>
                                <div class="form-group">
                                    <label for="">answer</label>
                                    <input placeholder="" type="text" formControlName="" class="form-control"
                                        name="">
                                    <span *ngIf="" class="py-2 text-danger "></span>

                                </div>
                                
                              <div class="float-end">
                                <button type="submit" [disabled]='' class="btn btn-success m-2">Submit</button>
                              </div>
                               
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>