<div class="section">
    <i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>

    <div class="container">
        <div class="row">
            <div class="offset-2 m-auto col-md-8">
                <div class="d-flex justify-content-center align-content-center imd_div">
                    <img src="../../../../../assets/images/default image.png" class=" img " alt="">
                </div>
                <div class="text-center body  d-flex justify-content-center">

                    <h3>{{name}}</h3>
                    <h4><span>( </span>{{username}}<span> )</span> </h4>
                </div>
                <h5>{{email}}</h5>
            </div>


          
        </div>

        <div class="icons">
            <div class="fb">
                <i class="fab fa-facebook-square fa-2x"></i>
            </div>
            <div  class="tt">
                <i class="fab fa-twitter-square fa-2x"></i>
            </div>
            <div class="ig">
                <i class="fab fa-instagram-square fa-2x"></i>
            </div>
            <div class="li">
                <i class="fab fa-linkedin fa-2x"></i>
            </div>
        </div>
    </div>
</div>