<section class="userList">
    <div class="ss">
      <i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>
      <div class="tableContainer">
        <div class="mainContainer">
  
          <div class="tableContent">
            <div class="inputTableSearch">
              <h6>Instructor List</h6>
              <div class="form-group">
                <!-- <input placeholder=" Search..." #searchName (change)=""> -->
                 <input placeholder=" Search..." #searchName>
                <i class="fas fa-search"></i>
              </div>
              <button  class="btn btn-secondary" [routerLink]="['/adminIn','addInstructors']">Add Instructor</button>
            </div>
            <div class="tables">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" > Name </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.guest.name}} </td> -->
                    <td mat-cell *matCellDef="let element">
                      <!-- <img *ngIf="element.guest?.photo != null" [src]="element.guest?.photo">
                      <img *ngIf="element.guest?.photo == null" [src]="defaultImage"> -->
                      {{element?.name}}  
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize">User Name</th>
                    <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize" > Email </th>
                    <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Gender">
                    <th mat-header-cell *matHeaderCellDef  class="text-capitalize"> Gender </th>
                    <td mat-cell *matCellDef="let element"> {{element?.gender}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize"> actions </th>
                    <td mat-cell *matCellDef="let element"> 
                      <i class="far fa-edit"></i>
                      <i (click)="openDialog(element._id)" class="fas fa-trash"></i>  
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="view-detials">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> <button
                        [routerLink]="['/student','profile',element.username]">View Details</button> </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,15,20]"
                 showFirstLastButtons>
              </mat-paginator>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
  
    </div>
  </section>