<section id="Courses">
    <div class="container-fluid">

        <div class="row my-5 m-auto">

            <div *ngFor="let  x of stuCoursesArr | 
            paginate: { 
            itemsPerPage:4,
            currentPage: page,
            totalItems: totalLength 
          }"
          class="col-md-3 my-2 ">
                
                <div  class="course-item card text-center p-3">
                    <img src="{{x.imageUrl}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class=" card-title">{{x?.courseName}}</h5>
                        <p>{{x.courseDepartment}}</p>

                    </div>
                    <div class="button_cont" align="center">
                        <a [routerLink]="['/student/course-info',x._id]" class="example_b w-100" >Course info</a>
                    </div>
                    <!-- <a [routerLink]="['/student/course-info',x._id]" class="btn draw-border">Course info</a> -->
                </div>
            </div>

            <div style="display: flex; justify-content: center; align-items: center;">
              <pagination-controls  (pageChange)="page = $event"></pagination-controls>
            
            
            </div>


         
        </div>
    </div>
</section>

            
              
