<section id="Courses">
    <div class="container-fluid">
        <div class="row my-5 m-auto  ">
            <div class="col-md-3 my-2 ">
                <div class="course-item card text-center ">
                    <img src="../../../../../assets/images/sq.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class=" card-title">Course Name</h5>
                       
                    </div>
                    <a [routerLink]='"/student/course-info"' class="btn btn-primary">Course info</a>
                </div>
            </div>
         
        </div>
    </div>
</section>