<section id="Courses">
    <div class="container-fluid">
        <div class="row my-5 m-auto  ">

            <div *ngFor="let  arr of stuCoursesArr" class="col-md-3 my-2 ">
                
                <div *ngFor="let x of arr" class="course-item card text-center ">
                    <img src="../../../../../assets/images/sq.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class=" card-title">{{x?.courseName}}</h5>
                        <p>{{x.courseDepartment}}</p>

                    </div>
                    <a [routerLink]="['/student/course-info',x._id]" class="btn btn-primary">Course info</a>
                </div>
            </div>
         
        </div>
    </div>
</section>



