<section class="body">

  <div class="formContainer">
    <div class="container">

      <form class="m-auto ">
        <div class="d-flex justify-content-center">
          <div class="form-group w-50 px-2 ">
            <label for="fName">fName</label>
            <input type="text" class="form-control" id="fName" placeholder="Enter your email">
          </div>
          <div class="form-group  w-50 px-2 ">
            <label for="lName">lName</label>
            <input type="text" class="form-control" id="lName" placeholder="Enter your email">
          </div>
        </div>

        <div class="form-group m-auto">
          <label for="userName">userName</label>
          <input type="text" class="form-control" id="userName" placeholder="Enter your email">
        </div>

        <div class="form-group m-auto">
          <label for="Email">Email</label>
          <input type="text" class="form-control" id="Email" placeholder="Enter your email">
        </div>

        <div class="form-group m-auto">
          <label for="password">Password</label>
          <div class="eyeslash">
            <input type="password" class="form-control " id="password" placeholder="Enter your password">
            <!-- <i (click)="showpassword()" class="fas fa-eye-slash"></i> -->
          </div>
        </div>

        <div class="form-group m-auto">
          <label for="cPassword">Confirm Password </label>
          <div class="eyeslash">
            <input type="password" class="form-control" id="cPassword" placeholder="Enter your password">
            <!-- <i (click)="reshowpassword()" class="fas fa-eye-slash"></i> -->
          </div>
        </div>
        <div class="form-group">
          <input type="radio" id="male" name="gender" value="male">
          <label class="px-1" for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female">
          <label class="px-1" for="female">Female</label>
        </div>

        <div class="form-group m-auto py-3">
          <button class=" w-100">Sign Up</button>
        </div>
      </form>
    </div>
  </div>

</section>