<section class="p-3">
    <div class="container p-3">
        <i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>
        <div class="row p-2">
        <form [formGroup]="profileForm" (ngSubmit)=' updatevalue(profileForm)' class="kbyr w-50 m-auto p-2">
            <!-- <div class="form contain"></div> -->
            <div class="col-md-12 m-auto">
               
                <div class="row">
                    <div class="success p-2">
                    

                    <div class="col-md-6 p-2">
                        <div class="photoCard p-3">
                       
                        <img  class="img-fluid" src="{{UserImage}}">
                    </div>
                    </div>

                    <div class="col-md-6">
                        
                        <div class="imageDes mt-5 p-3">
                            <h4>Profile Image</h4>
                        
                        <input  type="file" name="file-input" id="file-input" class="file-input__input" name="photo" (change)='selectFile($event)' />
                        <label class="file-input__label mt-3" for="file-input">
                            <span>
                                Upload
                            </span>
                        </label>
                    </div>
                    </div>

                </div>

            </div>
        </div>


            <div class="row">
                <div class="col-md-12 p-2">
                    <div class="form m-auto p-2">

                    <div class="form-group">
                        <label>Name :</label>
                        <input name="name" type="text" placeholder="Name"   formControlName='name' class="form-control">
                        <!-- <div *ngIf="name.touched && name.invalid " class="a">
                      <span> Name is required</span>
                   </div> -->

                    </div>
                    <div class="form-group">
                        <label>UserName :</label>
                        <input name="userName" type="text" formControlName='username' [disabled]="dis" placeholder="UserName" class="form-control">
                        <!-- <div *ngIf="userName.touched && userName.invalid " class="a">
                      <span> UserName is required</span>
                   </div> -->

                    </div>

                    <div class="form-group">
                        <label>Email :</label>
                        <input name="email" required type="email" [disabled]="dis" formControlName='email' username placeholder="Email" class="form-control">
                        <!-- <div *ngIf="email?.touched && email?.invalid" class="a">
                            <span>Email is required</span>
                        </div> -->

                        <!-- <div *ngIf="email.errors?.pattern" class="a">
                            <span *ngIf="email.errors?.pattern">This is not a valid Email </span>
                        </div> -->
                    </div>

                    <div class="form-group">
                        <label>Password* :</label>
                        <input type="password" name="password" formControlName='oldpassword' minlength="6" placeholder="Password" class="form-control">
                        <!-- <div *ngIf="password?.touched && password?.invalid " class="a">
                            <span>Password is required</span>

                        </div> -->

                        <!-- <div *ngIf="password.errors?.minlength" class="a">
                            <span> minlength 6</span>
                        </div> -->
                    </div>
                     
                    <div class="form-group">
                        <label>New Password :</label>
                        <input type="password" name="password" formControlName='newpassword' minlength="6" placeholder="Password" class="form-control">
                        <!-- <div *ngIf="password?.touched && password?.invalid " class="a">
                            <span>Password is required</span>

                        </div> -->

                        <!-- <div *ngIf="password.errors?.minlength" class="a">
                            <span> minlength 6</span>
                        </div> -->
                    </div>
                     
                    


                    <div class="form-group">
                        <label>Password Confirmation :</label>
                        <input type="password" formControlName='repassword' required name="password_confirmation" placeholder="Password Confirmation" class="form-control">
                        <!-- <div *ngIf="password_confirmation.touched && password_confirmation.invalid " class="a">
                            <span> Password Confirmation is required </span>

                        </div> -->
                        <!-- <div *ngIf="password_confirmation.touched" class="a">
                            <span *ngIf="password_confirmation.value != password.value "> Password Not Match</span>

                        </div> -->
                    </div>

                </div>
                </div>
            </div>

           
            <div class="form-group m-auto w-50  p-2">
                <button type="submit"  class="w-100 m-auto">Update</button>
              </div> 
             


        </form>
    </div>
    </div>


<!-- <div *ngIf="role!=='instructor'"class="row">
    <div *ngFor="let x of courses | 
    paginate: { 
    itemsPerPage:4,
    currentPage: page,
    totalItems: totalLength 
  }" class="col-md-3 mt-3" >
     <div [routerLink]="['/instructor/courseDetails',x._id]" class="card " style="width: 18rem;">
       <img src="{{x?.imageUrl}}" class="card-img-top" alt="...">
       <div class="card-body">
         <h2>{{x?.courseName}} </h2>
         <p class="card-text">{{x?.courseDepartment}}</p>
         <p>{{x?.prerequisite}}</p>
         
       </div>
       <button [routerLink]="['/instructor/courseDetails',x._id]" class="btn btn-primary">Course Info</button>

     </div>
   </div>

   <div style="display: flex; justify-content: center; align-items: center;">
     <pagination-controls (pageChange)="page = $event"></pagination-controls>


   </div>
</div>

 -->






</section>
