<div [class.webCam]="flag" *ngIf="flag">
    <webcam  [height]="400" 
            [width]="1000" 
            [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)">
     </webcam>
      
    <button class="actionBtn" (click)="triggerSnapshot();">
       Capture Photo  
    </button>
      
    
  
   
  
  </div>

<div  *ngIf="Question" class="container mt-5">

    <div class="row">
         <p class="text-center">{{currentQuestion+1}} of {{quizzes.length}}</p>
        <div class="col-md-8">
            <h1>{{quizzes[currentQuestion].question}}</h1>
            <ul class="list-group" *ngFor="let x of quizzes[currentQuestion].answer">
                 
                <li> 
                    <input type="radio" name="options"  (change)="onAnswers(x.correct)">
                    {{x.option}}</li>

            </ul>

            
        </div>
    </div>
</div>

<section *ngIf="lastQuestion" class="score">
    <div class="overLay p-2">
    <div class="card p-3 w-50 m-auto h-75 mt-5">
        <h3 class="m-3">
            Your total answers score is :
        </h3>
        <p class="boldScore m-3">{{correctAnswer}}</p>
        <p class="correct m-3">
            Correct answer: {{correctAnswer}}
        </p>
        <p class="wrong m-3">
            Wrong answer: {{incorrectAnswer}}
        </p>
        <div class="button_cont" align="center">
            <a [routerLink]="'/student/course'" class="example_b w-50 mt-5 text-capitalize" >back to courses</a>
        </div>
        <p class="motivate m-3">Hey... it does not matter what your score is ! it is always about you, the score is just small thing to evaluate you. keep going your dream is more closer to touch!!</p>
        <!-- <a [routerLink]="'/student/course'">
            back
        </a> -->

    </div>
</div>
</section>

<!-- <section *ngIf="lastQuestion" class="scorePage">
    <h3>Your total answers score is :</h3>
    <p>CorrectAnswer:{{correctAnswer}}</p>
    <p>InCorrectAnswer{{incorrectAnswer}}</p>
    <a [routerLink]="'/student/course'">back</a>

</section> -->

