<div [class.webCam]="flag" *ngIf="flag">
    <webcam  [height]="400" 
            [width]="1000" 
            [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)">
     </webcam>
      
    <button class="actionBtn" (click)="triggerSnapshot();">
       Capture Photo  
    </button>
      
    
  
   
  
  </div>

<div  *ngIf="Question" class="container mt-5">

    <div class="row">
         <p class="text-center">{{currentQuestion+1}} of {{quizzes.length}}</p>
        <div class="col-md-8">
            <h1>{{quizzes[currentQuestion].question}}</h1>
            <ul class="list-group" *ngFor="let x of quizzes[currentQuestion].answer">
                 
                <li> 
                    <input type="radio" name="options"  (change)="onAnswers(x.correct)">
                    {{x.option}}</li>

            </ul>

            
        </div>
    </div>
</div>


<p *ngIf="lastQuestion">CorrectAnswer:{{correctAnswer}}||InCorrectAnswer{{incorrectAnswer}}</p>