<div class="container">
 <div class="row">
  <div *ngFor="let x of allCoursesArr| 
  paginate: { 
  itemsPerPage:4,
  currentPage: page,
  totalItems: totalLength 
}" 
  
  class="col-md-3 mt-3">
  <div  class="card " style="width: 18rem;">
    <img [src]="courseDeafult" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>{{x?.courseName}}</h2>
      <p class="card-text">{{x?.courseDepartment}}</p>
      <p>{{x?.prerequisite}}</p>

      <a *ngIf="student=='student'" (click)="registerd(x?.courseCode)" class="btn btn-primary">Register</a>
    </div>
  </div>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
  <pagination-controls  (pageChange)="page = $event"></pagination-controls>


</div>
 </div>



</div>