.section
{
    background-color:rgb(77, 74, 74);
    width: 100%;
    height: 20vh;
}
.img
{
 
    width: 250px;
    height: 250px;
    border: 3px solid orange;
    border-radius: 50%;
    position: relative;
    top: 0px;
    transform: translateY(-50);
}
.body
{
    margin: 4px 3px;
}
h3,h4
{
    margin: 0px 4px;
}
.icons
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.fb
{
    color: #385898;
}
.tt
{
    color:  rgba(29,161,242,1.00);
}
.ig
{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    ;
}
.li
{
    color: rgb(0, 115, 176);
}
.email
{
    color:rgba($color: orange, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.email span 
{ 

    color: black;

}
.imageCard{
   
	border-radius: 10px;
    background-color: #fff;

}
.example_b {
    cursor: pointer;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ff726f;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.example_b:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.example_b2{
    cursor: pointer;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #008d90;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.example_b2:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.imageCard img{
    height: 150px;
    border-radius: 30px;

}
.card{
    border-radius: 20px;
    transition: 0.4s;
    
}
.card:hover{
    transition: 0.4s;
    box-shadow: 10px 10px 20px darkgrey;
}