/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;

}
body {
    
    margin: 0;
   
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
h5
{
  font-family: 'Montserrat', sans-serif;
}
p,span{

  font-family: 'segoe ui light';
  font-size: 18px;
  font-weight: bold;

 
}
.modal-backdrop {
   position: static !important;
}
.back_button 
{
  font-size: 30px;
  cursor: pointer;

}


