$bodybackGround:#1F1C19;
$formbackgroud:#2E2C2A;

.body
{
    height: 100vh;
    background-color:$bodybackGround ;
}
.formContainer
{
    width: 800px;
    height: 670px;
    background-color:$formbackgroud;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.FormLogo
{
    color: #fff;
    padding-bottom: 50px;;
}
.FormLogo p
{
    margin-top: -10px;
    font-weight: 100;
}
.FormLogo .signUp
{
    font-size: 25px;
    font-weight: 400;
}
.form-group
{
 width: 80%;
}
.form-group label
{
    color: #504E4E;
    margin: 10px 0px;
}
.form-group input
{
    background-color: $formbackgroud;
    padding: 22px;
    font-size: 12px;
    border: 2px solid   #565654;
    color: white;

}
input:focus
{
    outline: none !important;
}
.padd{
    padding-top: 45px;
}
.eyeslash
{
    position: relative;
}
.form-group i
{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #504E4E;
    cursor: pointer;

}
.form-group button
{
  background-color: #FE9D2B;
  margin-top: 20PX;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.FormLogo
{

    margin-top: 30px;
}

button
{
    color: #FFF;
}
.resend
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    color: #5C5A5B;

}
.resend span
{
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.FormLogo span
{
    font-size: 12px;
}
