<section class="body">

    <div class="formContainer">
      <div class="container">
          <div class="FormLogo text-center">
              
              <h4>NOZOL</h4>
              <p>GUEST EXPERIENCE</p>
              <p class="signUp">Forget Password</p>
              <span>Please enter your Email ID that you use in Nozol</span>
          </div> 
        <form class="m-auto py-5">
            <div class="form-group m-auto">
                <input type="text" class="form-control py-4" id="Email " placeholder="Enter your email">
              </div>
              <div class="form-group m-auto padd ">
              <button type="submit" class=" w-100">Send Request</button>
              </div>
         </form>
         <div class="resend ">
             <span>Resend Email?</span>
         </div>
      </div>
    </div>
    
    </section>
    

