$bodybackGround:#FFF;
$formbackgroud:#F9F8F8;

.body
{
    height: 100vh;
    background-color:$bodybackGround ;
}
.formContainer
{
    width: 800px;
    height: auto;
    background-color:$formbackgroud;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    
}
.FormLogo
{
    color: #fff;
}
.FormLogo p
{
    margin-top: -12px;
    font-weight: 100;
}
.FormLogo .signUp
{
    font-size: 25px;
    font-weight: 400;
}
.form-group
{
 width: 75%;
}
.form-group label
{
    color: #504E4E;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 11px;
}
.form-group input
{
    background-color: $formbackgroud;
    padding: 22px;
    font-size: 12px;
    height: 20px;
    border: 2px solid   #565654;
    color: black;
}
input:focus
{
    outline: none !important;
}
.eyeslash
{
    position: relative;
}
.form-group i
{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #504E4E;
    cursor: pointer;

}
.form-group button
{
  background-color: #FF4007;
  margin: 30PX 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.signUp
{
    color: #000;
}

.keepMe
{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: #c3c3c2;
    width: 75%;

}
.keepMe input
{
 transform: scale(1.5);
 background-color: $bodybackGround;
 cursor: pointer;
 border: none;
 margin-left: 5px;
}
.keepMe .checkbox label
{
  margin-left: 10px;
  color: #c3c3c2;
  vertical-align: middle;
}
.keepMe span
{
    cursor: pointer;
}

button
{
    color: #FFF;
}

.sign_Up{
color: black;
}
.errMessage
{
    margin-top: 5px;
    margin-left: 10px;
}

.logo
{
    width: 120px;
    height: 120px;
}
.a span
{
     color: red;
}
