<section class="body">

  <div class="formContainer">
    <div class="container ">
      <div class="FormLogo text-center">
        <p class="signUp">Please Log-in!</p>
      </div>

      <form class="m-auto" #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
        <div>
          Please provide a valid data
        </div>
        <div class="form-group m-auto">
          <label for="Email">Email</label>
          <input type="text" name="email" ngModel #email='ngModel' ng class="form-control" id="Email"
            placeholder="Enter your email">

        </div>

        <div class="form-group m-auto">
          <label for="password">Password</label>
          <div class="eyeslash">
            <input type="password" name="password" ngModel #password='ngModel' class="form-control " id="password"
              placeholder="Enter your password">
          </div>
        </div>
        <div class="keepMe m-auto py-3">
          <div class="checkbox">
            <input type="checkbox" id="keepme">
            <label for="keepme">Keep me signed</label>
          </div>
          <span routerLink="../forgetpassword">Forget password?</span>
        </div>

        <div class="form-group m-auto ">
          <button type="submit" class=" w-100">Sign In</button>
        </div>

      </form>
     
    </div>
    <button [routerLink]="['/authentication','signup']" class="btn btn-dark ">signUp</button>
  </div>



</section>