<i class="fas fa-arrow-left back_button m-2  " (click)='backClicked() '></i>

<button [routerLink]='["/instructor","createexam",courseId]' class="float-end create_button btn btn-secondary">Creates Exam</button>
<div class="clr"></div>
<div class="container-fluid">

    <div class="row m-5">
       
        <div *ngFor="let exam of courseExams; let i=index" class="offset-1 col-md-10 my-3">
            <div  class="card">
                <h4 class="card-header">Exam {{i+1}} <span class="float-end"> <i (click)="openDialog(exam.assesment._id)" class="far fa-trash-alt"></i>  </span></h4>
                <div class="card-body">
                  <h3 class="card-title">{{exam.assesment.title }}</h3>
                    <h5 class="card-title">Start: {{exam.assesment.openDate | date :'dd-MMM-yy h:mm:ss a '}}</h5>
                    <h5 class="card-title">End: {{exam.assesment.dueDate | date :'dd-MMM-yy h:mm:ss a '}} </h5>
                    <a [routerLink]='["/instructor","examQuestions",exam.assesment._id]'  class="btn btn-primary">Show Exam</a> 
                </div>
            </div>
        </div>




            <!-- Modal -->
  
</div>