.serch
{
    width: 25%;
}
.muCourses .card{
    border-radius: 20px;
    transition: 0.4s;
    
}
.muCourses .card:hover{
    transition: 0.4s;
    box-shadow: 10px 10px 20px darkgrey;
}
.muCourses .card .card-body{
    text-align: center;
}
.imageCard{
    border-radius: 10px;

}
.example_b {
    cursor: pointer;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ff726f;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.example_b:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.example_b2{
    cursor: pointer;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #008d90;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.example_b2:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}